body {
    font-size: 18px;
    line-height: 1.5;
    padding-left: 10rem;
    padding-right: 10rem;
    font-family: sans-serif;
}

header,
nav,
main,
footer {

    margin: 1.25rem auto;
    max-width: 760px;
}

header,
footer,
h1 {
    background-color: rgb(29, 24, 97);
    color: white;
    text-align: left;
    padding: 2rem;
    border-radius: 10px 10px 10px 10px;

}

section {
    float: right;
    margin: 50px;
    order: 1px solid #0077B6;
    padding: 2px;
    box-shadow: 2px 2px 2px #09090a;
    border: 1px solid #0077B6;
    padding: 10px;
    box-shadow: 3px 3px 3px #03045E;
}

footer {
    margin-top: 15rem;
    padding-left: 15rem;
    padding-right: 15rem;
    text-align: center;
    font-family: "Raleway";
}

p {
    color: yellow;
}