

h1,h2,nav, main {
    font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
body {
	background-color: #bed;
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}


header {
	background-color: skyblue;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}


header img  {
	width: 80px;
	height: auto;
}

.headings  {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

.m {
	font-style: italic;
	letter-spacing: 1pt;
	color: blue;
	margin-left: 20px;
	font-size: .9rem;
}

header,
nav,
main,
footer {
	max-width: 900px;
	margin: 0 auto;
  
}

nav {
	background-color: #36454f;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a, .active {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, yellow, transparent) top / var(--d, 0) 10px no-repeat;
  transition: 0.5s;
}

.active {
    color:yellow;
  }

  


.up {
    display:grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 1f 1f;
    background-color: #6D99C9;
    padding:0.50rem;
    box-shadow: 0 2px 15px gray;
    max-width: 900px;
    max-height: auto;
    text-align: center;
    height: 278px;
    max-width:  900px;   
}
.up img{
    grid-column: 1/2;
    width: 100%;
    height: auto;  
    border: 1px solid black;
    
}
	
.upcoming p {
    grid-column: 2/3;
    width: 100%;
    height: auto;
    padding:5px;
    text-align: center;
    font-size: 1.25rem;
    color:blue;
}
footer{
    max-width: 100%;
	margin: 0 auto;  
}
